<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Riskparameter List</h2>
  </div>
  <div class="panel-body">
    <div class="col-md-12">
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>chosen for calculation</th>
        <th>Id</th>
        <th>Type</th>
        <th>VehicleParamType</th>
        <th>Value</th>
        <th>fromFormula</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let riskparam of riskparams | async">
        <td> <input type="checkbox" class="form-control" name="options" value="riskparam" (change)="updateChecked(riskparam, $event)"></td>
        <td>{{riskparam.id}}</td>
        <td>{{riskparam.type}}</td>
        <td>{{riskparam.vehicleParamType}}</td>
        <td>{{riskparam.value}}</td>
        <td><input type="checkbox" [attr.disabled]="true" class="form-control" id="fromFormula" [checked]="riskparam.fromFormula" value="{{riskparam.fromFormula}}" name="fromFormula"></td>
        <td style="width: 200px"><button (click)="deleteRiskParam(riskparam)" class="btn btn-danger">Delete</button>
          <button (click)="updateRiskParam(riskparam)" class="btn btn-success" style="margin-left: 10px">Update</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
